<div>
  <p>dependant-linked-signal works!</p>
  <div class="flex items-center gap-10">
    <div>
      <p>Active List</p>
      <ul>
        @for (option of shippingOptions(); track $index) {
        <li class="w-fit" [ngClass]="selectedOption() === option ? 'bg-red-500' : ''">
          {{option}}
        </li>
        }
      </ul>
    </div>
    <div>
      <p>Other List</p>
      <ul>
        @for (option of otherOptions; track $index) {
        <li class="w-fit">
          {{option}}
        </li>
        }
      </ul>
    </div>
  </div>
  <div class="flex items-center gap-5">
    <button (click)="setIndex(0)">1</button>
    <button (click)="setIndex(1)">2</button>
    <button (click)="setIndex(2)">3</button>
  </div>
  <button (click)="setOtherActive()">Change Active List</button>
</div>
